# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
/build/
/apk/
coverage/

# IDE
.idea/
*.iml
.DS_Store

# Local env
.env
.env.*
!.env.example
.emulator.pid

# Android local build state
android/.gradle/
android/build/
android/local.properties
android/key.properties
*.jks
*.keystore
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
